.filterDiv {
    float: left;
    background-color: red;
    color: rgb(170, 0, 0);
    width: 50px;
    height: 740px;
    /* line-height: 20px; */
    text-align: center;
    margin: 2px;
    display: none;
    filter: opacity(0.65);
    font-size: 1.68vw;


    
}

.filterDiv:hover{
    /* float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 50px;
    height: 730px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; */
    filter: opacity(1);
    /* width: 200px; */
}







#image1{
    background-image: url(羌族婚礼2.png);
}

#image2{
    background-image: url(苗族婚礼2.png);
}

#image3{
    background-image: url(白族婚礼2.png);
}

#image4{
    background-image: url(壮族婚礼2.png);
}

#image5{
    background-image: url(彝族婚礼2.png);
}

#image6{
    background-image: url(土家族婚礼2.png);
}


#image7{
    background-image: url(布朗族婚礼2.png);
}


#image8{
    background-image: url(布依族婚礼2.png);
}

#image9{
    background-image: url(藏族婚礼2.png);
}

#image10{
    background-image: url(普米族婚礼2.png);
}

#image11{
    background-image: url(傣族婚礼2.png);
}

#image12{
    background-image: url(满族婚礼2.png);
}

#image13{
    background-image: url(景颇族婚礼2.png);
}


#image14{
    background-image: url(土家族婚礼2.png);
}


#image15{
    background-image: url(藏族婚礼2.png);
}

#image16{
    background-image: url(蒙古族婚礼2.png);
}

#image17{
    background-image: url(排湾族婚礼2.png);
}

#image18{
    background-image: url(朝鲜族婚礼2.png);
}

#image19{
    background-image: url(独龙族婚礼2.png);
}


#image20{
    background-image: url(哈萨克族婚礼2.png);
}

#image21{
    background-image: url(回族婚礼2.png);
}


#image22{
    background-image: url(京族婚礼2.png);
}

#image23{
    background-image: url(苗族婚礼2.png);
}

#image24{
    background-image: url(摩梭人婚礼2.png);
}


#image25{
    background-image: url(塔吉克婚礼2.png);
}


#image26{
    background-image: url(怒族婚礼2.png);
}

#image27{
    background-image: url(畲族婚礼2.png);
}








  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }


  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: brown;
    cursor: pointer;
    color: beige;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 1vw;
    transform: translateY(-40px);
    border-radius: 5%;

  }
  
  .btn:hover {
    background-color: transparent;
    color: black;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 1vw;
  }
  
  .btn.active {
    background-color: transparent;
    /* border: 3px solid brown; */
    color:beige;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 1.35vw;
    /* border-radius: 50%; */
    padding: 10px 10px 10px;
    margin-top: 15px;

 

  }

  .btn.active:hover{
    color: brown;
  }



  body{
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 5vw;
    color: rgb(170, 0, 0);
    background-image: url(front1.png);
    background-size: 0.5%;
    font-family: FZSSK--GBK1-0;
    src: url(FZSSK.TTF);
    /* background-color: rgb(198, 13, 13); */
    /* animation-name: example;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

   */


  }


 
@keyframes example {
  0%   {background-color:transparent; left:0px; top:0px;}

  100% {background-color:rgb(198, 13, 13); left:0px; top:0px;}
}


  #subtitle{
    margin-left: 1467px;
    position: absolute;
    z-index: 20;
    right: 10;
    margin-top: 20px;
    font-family: FZFW-ZhuZiAOldMin-B--GB1-0;
    src: url(FZFWZhuZiAOldMinchoB.TTF);
    font-size: 1.7vw;
    writing-mode: vertical-lr;
    color: black;
    
  }

  #subtitle1{
    margin-left: 770px;
    position: absolute;
    z-index: 20;
    right: 10;
    margin-top: 15px;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 0.98vw;
    writing-mode: vertical-lr;
    padding: 10px;
    
  }


  #subtitle2{
    margin-left: 700px;
    margin-right: 30px;
    position: absolute;
    z-index: 20;
    right: 10;
    margin-top: 15px;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 0.8vw;
    /* writing-mode: vertical-lr; */
    padding: 30px;

    
  }



#reference{
    margin-left: 1410px;
    position: absolute;
    z-index: 20;
    right: 10;
    margin-top: 710px;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 1vw;
    writing-mode: vertical-lr;
    padding: 10px;
    
  }

  #reference2{
    margin-left: 1370px;
    position: absolute;
    z-index: 20;
    right: 10;
    margin-top: 710px;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 0.75vw;
    writing-mode: vertical-lr;
    padding: 10px;
    
  }








  #background{
    right: 0px;
    top: 0px;
    width: 40px;
    height: 900px;
    background: white;
    transition: width 3s;
    z-index: -2;
    background-image: white;
    position: absolute;
  }
  
 #background:hover{
    width: 800px;
 }







  #main{
    text-align: right;
    font-size: 34vw;
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 140px;
    font-family: FZSSK--GBK1-0;
    src: url(FZSSK.TTF);


}



#main2{
    text-align: right;
    font-size: 34vw;
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 850px;
    font-family: FZSSK--GBK1-0;
    src: url(FZSSK.TTF);


}




#story{
    font-size: 1.5vw;
    filter: blur(0.2);
    margin-left: 10px;
    font-style:oblique;
    margin-left: 710px;
    position: absolute;
    z-index: 20;
    right: 10;
    margin-top: 690px;
    font-family: FZFW-ZhuZiAOldMin-M--GB1-0;
    src: url(FZFWZhuZiAOldMinchoM.TTF);
    font-size: 0.75vw;
    writing-mode: vertical-lr;
    padding: 10px;
}



#title1{
    border-left: 4px solid rgb(169, 0, 0);
    filter: blur(0.2);
    height: 1000px;
    position: absolute;
    left: 0%;
    margin-left: -3px;
    top: 0;
    opacity: 0.8;
}

#title2{
    border-left: 4px solid rgb(169, 0, 0);
    filter: blur(0.2);
    height: 1000px;
    position: absolute;
    left: 1%;
    margin-left: -3px;
    top: 0;
    opacity: 0.6;
}

#title3{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 2%;
    margin-left: -3px;
    top: 0;
    opacity: 0.5;
}

#title4{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 3%;
    margin-left: -3px;
    top: 0;
    opacity: 0.7;
}

#title5{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 4%;
    margin-left: -3px;
    top: 0;
    opacity: 0.5;
}


#title6{
    border-left: 4px solid rgb(145, 0, 0);
    height: 1000px;
    position: absolute;
    left: 97.6%;
    margin-left: -3px;
    top: 0;
    opacity: 1;
}

#title7{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 100.5%;
    margin-left: -3px;
    top: 0;
}

#title8{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
    opacity: 0.5;
}


#title9{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 99.5%;
    margin-left: -3px;
    top: 0;
}

#title10{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 99%;
    margin-left: -3px;
    top: 0;
    opacity: 0.6;
}


#title11{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 98%;
    margin-left: -3px;
    top: 0;
    opacity: 0.9;
}


#title12{
    border-left: 4px solid rgb(169, 0, 0);
    height: 1000px;
    position: absolute;
    left: 98.5%;
    margin-left: -3px;
    top: 0;
}



